#content-gallery {
    display: none;
}
#content-gallery-black-box {
    background-color: #000;
    width: 100%;
    opacity: 0.5;
    z-index: 50;
    position: fixed;
    top: 0px;
    left: 0px;
}

#content-gallery-view {
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    z-index: 60;
    background-color: #fff;
    position: fixed;
}
#content-gallery-view .content-gallery-top-panel {
    height: 20px;
}
#content-gallery-view .content-gallery-top-panel .content-gallery-close-button {
    width: 20px;
    height: 20px;
    float: right;
    background-image: url('../img/close-button.png');
}

.content-gallery-preview-container {
    overflow: hidden;
    display: block;
}
.content-gallery-preview {
    padding: 2px;
    box-shadow: 0 0 5px #888;
    display: block;
    border-radius: 5px;
    margin: 5px;
    background-color: #fff;
}
.content-gallery-open-view {
    cursor: pointer;
}
.content-gallery-preview-container .content-gallery-zoom {
    position: relative;
    visibility: hidden;
}
.content-gallery-preview-container .content-gallery-preview-zoom {
    top: -60px;
}
.content-gallery-preview-container .content-gallery-small-preview-zoom {
    top: -32px;
}
.content-gallery-preview-container:hover .content-gallery-zoom {
    visibility: visible;
}

#content-gallery-view .content-gallery-widget {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
}
#content-gallery-view .content-gallery-widget:hover {
    opacity: 1;
}
#content-gallery-view .content-gallery-hidden {
    opacity: 0;
}
#content-gallery-view .content-gallery-hidden:hover {
    opacity: 1;
}
#content-gallery-view .content-gallery-inactive {
    display: none;
}
#content-gallery-view .content-gallery-inactive:hover {
    opacity: 0;
}

.content-gallery-centered-image {
    text-align: center;
    font-size: 0;
}
.content-gallery-centered-image img {
    vertical-align: middle;
}
