{% load static %}

<link href="{% static 'content_gallery/css/content-gallery.css' %}" type="text/css" rel="StyleSheet">
<link href="{% static 'content_gallery/css/content-gallery-view.css' %}" type="text/css" rel="StyleSheet">
<div id="content-gallery">
    <div id="content-gallery-black-box" class="content-gallery-close"></div>
    <div id='content-gallery-view'>
        <div class="content-gallery-top-panel"><div class="content-gallery-widget content-gallery-close content-gallery-close-button"></div></div>
        <div id="content-gallery-image-view">
            <div class="content-gallery-next-image content-gallery-widget content-gallery-hidden"></div>
            <div class="content-gallery-prev-image content-gallery-widget content-gallery-hidden"></div>
            <div class="content-gallery-image-container"><img class="content-gallery-next-image" src="{% static 'content_gallery/img/0.gif' %}" alt=""></div>
        </div>
        <div id="content-gallery-thumbnails-view">
            <div class="content-gallery-scroll-left content-gallery-widget content-gallery-inactive"></div>
            <div class="content-gallery-scroll-right content-gallery-widget content-gallery-inactive"></div>
            <div class="content-gallery-thumbnails-container">
                <ul></ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{% static 'content_gallery/js/content-gallery.js' %}"></script>
<script type="text/javascript" src="{% static 'content_gallery/js/content-gallery-sync.js' %}"></script>
<script type="text/javascript" src="{% static 'content_gallery/js/content-gallery-helpers.js' %}"></script>
<script type="text/javascript" src="{% static 'content_gallery/js/content-gallery-view.js' %}"></script>
