{% load static %}
<div class="content-gallery-preview-container content-gallery-images" style="width: {{ div_width }}px; height: {{ div_height }}px;">
{% if image %}
  <div data-image="{{ data_image }}" class="content-gallery-open-view">
    <div class="content-gallery-preview content-gallery-centered-image"
        style="width: {{ image_width }}px; height: {{ image_height }}px; line-height: {{ image_height }}px;">
      <img src="{{ image.small_preview_url }}" alt="{{ image }}">
    </div>
    <img src="{% static 'content_gallery/img/zoom-small.png' %}" class="content-gallery-zoom content-gallery-small-preview-zoom" style="left: {{ zoom_left }}px;" alt="zoom">
  </div>
{% else %}
  <div class="content-gallery-preview content-gallery-centered-image"
      style="width: {{ image_width }}px; height: {{ image_height }}px; line-height: {{ image_height }}px;">
    <img src="{% static 'content_gallery/img/no-image-small.png' %}">
  </div>
{% endif %}
</div>
