{% load i18n admin_urls static %}
<div class="js-inline-admin-formset inline-group"
     id="{{ inline_admin_formset.formset.prefix }}-group"
     data-inline-type="stacked"
     data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
<fieldset class="module {{ inline_admin_formset.classes }}">
  <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}</h2>
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}

<div id="sortedImages" class="imagesContainer">
{% for inline_admin_form in inline_admin_formset %}
  {% if not forloop.last %}<div class="imageObject">
    <div class="imageHeader imageHeaderBg"></div>
    <div class="imageContent">
      <span class="image-delete">{{ inline_admin_form.deletion_field.field.as_hidden }}</span>
      {% for fieldset in inline_admin_form %}
        {% for line in fieldset %}
            {% for field in line %}
              {{ field.field }}
            {% endfor %}
        {% endfor %}
      {% endfor %}
      {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
    </div>
  </div>{% endif %}
{% endfor %}
</div>
</fieldset>
</div>
