{% load static %}

<div id="content_gallery">
    <div id="content_gallery_black_box" class="content_gallery_close"></div>
    <div id='content_gallery_view'>
        <div class="content_gallery_top_panel"><div class="content_gallery_widget content_gallery_close content_gallery_close_button"></div></div>
        <div id="content_gallery_image_view">
            <div class="content_gallery_next_image content_gallery_widget content_gallery_hidden"></div>
            <div class="content_gallery_prev_image content_gallery_widget content_gallery_hidden"></div>
            <div class="content_gallery_image_container"><img class="content_gallery_next_image" src="{% static 'images/gallery/0.gif' %}"></div>
        </div>
        <div id="content_gallery_thumbnails_view">
            <div class="content_gallery_scroll_left content_gallery_widget content_gallery_inactive"></div>
            <div class="content_gallery_scroll_right content_gallery_widget content_gallery_inactive"></div>
            <div class="content_gallery_thumbnails_container">
                <ul></ul>
            </div>
        </div>
    </div>
</div>
