body {
    width: 900px;
    padding: 0;
    margin: 0 auto;
    background-color: #f0f0f0;
}
h1 {
    margin: 0;
    font: bold 24pt Roboto,Helvetica,Arial,sans-serif;
    text-align: center;
    line-height: 80px;
    color: #ecebea;
}
h2 {
    color: #4b7b63;
    margin: 5px 0 40px 20px;
    font: bold 22pt Roboto,Helvetica,Arial,sans-serif;
    text-align: left;
}
h3 {
    color: #4b7b63;
    margin: 10px 0 20px 0;
    font: bold 20pt Roboto,Helvetica,Arial,sans-serif;
    text-align: left;
}
p, .back-link {
    font: 15px Roboto,Arial,sans-serif;
    color: #ecebea;
    text-align: center;
    margin: 0;
}
a {
    color: #ecebea;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: underline;
}

.header {
    background-color: #4b7b63;
    border-bottom: 1px solid #233d30;
    border-left: 1px solid #233d30;
    border-right: 1px solid #233d30;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    height: 80px;
}
.footer {
    background-color: #4b7b63;
    border-top: 1px solid #233d30;
    border-left: 1px solid #233d30;
    border-right: 1px solid #233d30;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    height: 60px;
}
.footer p {
    line-height: 30px;
    height: 30px;
}
.footer .logos {
    height: 30px;
    margin: 5px 0;
    text-align: center;
}
.footer .logos a {
    display: inline-block;
    margin: 0 80px;
}

.cat-content {
    overflow: hidden;
    margin: 50px 0 20px 0;
    border: 1px solid #233d30;
    border-radius: 5px;
    padding: 10px;
    background: url(../img/footprint.png) right bottom no-repeat #fff;
}
.cat-photo {
    width: 400px;
    float: left;
}
.cat-description {
    margin-left: 400px;
}
.cat-content p {
    margin: 20px 0;
    text-align: justify;
    color: #4b7b63;
}
p.no-description {
    font-style: italic;
    text-align: center;
}
.cleaner {
    clear: both;
}
.back-link {
    color: #4b7b63;
    text-align: left;
    margin-top: 50px;
}

.cats-table {
    width: 100%;
    border-spacing: 0;
}
.table-photo {
    width: 157px;
    height: 142px;
}
.table-description {
    height: 142px;
    padding: 1px 1px 1px 20px;
    vertical-align: top;
}
.table-description a, .back-link a {
    color: #4b7b63;
}
.table-description a:hover, .back-link a:hover {
    color: #51b080;
}
