#content-gallery {
    display: none;
}
#content-gallery-black-box {
    background-color: #000;
    width: 100%;
    opacity: 0.5;
    z-index: 50;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 1000px;
}

.content-gallery-preview-container {
    overflow: hidden;
}
.content-gallery-preview {
    padding: 2px;
    box-shadow: 0 0 5px #888;
    display: block;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    font-size: 0;
}
.content-gallery-preview .middle-img {
    vertical-align: middle;
}
.content-gallery-preview-container .zoom {
    position: relative;
    top: -60px;
    visibility: hidden;
}
.content-gallery-preview-container:hover .zoom {
    visibility: visible;
}

#content-gallery-view .content-gallery-widget {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
}
#content-gallery-view .content-gallery-widget:hover {
    opacity: 1;
}
#content-gallery-view .content-gallery-hidden {
    opacity: 0;
}
#content-gallery-view .content-gallery-hidden:hover {
    opacity: 1;
}
#content-gallery-view .content-gallery-inactive {
    cursor: default;
    opacity: 0;
}
#content-gallery-view .content-gallery-inactive:hover {
    opacity: 0;
}
