{% load i18n admin_urls static %}
<div class="js-inline-admin-formset inline-group content-gallery-images"
   id="{{ inline_admin_formset.formset.prefix }}-group"
   data-inline-type="stacked" data-preview-url-pattern="{{ inline_admin_formset.formset.preview_url_pattern }}"
   data-inline-formset="{{ inline_admin_formset.inline_formset_data }}">
<fieldset class="module {{ inline_admin_formset.classes }}">
  <h2>{{ inline_admin_formset.opts.verbose_name_plural|capfirst }}. DRAG ITEMS TO SET THE ORDER</h2>
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}

<div id="content-gallery-sorted-images" class="content-gallery-images-container">
<input type="hidden" id="id_image">
{% if inline_admin_formset.formset.instance.pk %}
  {% for inline_admin_form in inline_admin_formset %}
  {% if not forloop.last %}<div class="content-gallery-image-object">
    <div class="content-gallery-image-header"></div>
    <div class="content-gallery-image-content">
    <span class="content-gallery-image-delete">{{ inline_admin_form.deletion_field.field.as_hidden }}</span>
    {% for fieldset in inline_admin_form %}
      {% for line in fieldset %}
        {% for field in line %}
        {{ field.field }}
        {% endfor %}
      {% endfor %}
    {% endfor %}
    {% if inline_admin_form.needs_explicit_pk_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
    </div>
  </div>{% endif %}
  {% endfor %}
  <a id="add_id_image" 
     href="/admin/content_gallery/image/add/?_to_field=id&_popup=1&object_id={{ inline_admin_formset.formset.instance.pk }}&content_type={{ inline_admin_formset.formset.instance.content_gallery.content_type.pk }}"
     class="content-gallery-image-object content-gallery-add-new-image related-widget-wrapper-link" title="Add new image"></a>
  </div>
  <div class="content-gallery-images-to-delete-container">
  <h2>THESE IMAGES WILL BE DELETED. DRAG HERE IMAGES YOU WANT TO DELETE</h2>
  <div id="content-gallery-images-to-delete" class="content-gallery-images-container"></div>
  </div>
{% else %}
  <h3>Can't attach images to non-existing object. First create the object and then add images.</h3>
{% endif %}
</fieldset>
</div>
{% include "content_gallery/admin/_image_view.html" %}
