.content-gallery-images .images-container {
    overflow: hidden;
    margin: 0;
}
.content-gallery-images .image-object {
    float: left;
    margin: 5px;
    width: 147px;
    height: 141px;
    border: 1px solid #bbb;
    border-radius: 3px;
}
.content-gallery-images .image-object .image-header {
    margin: 2px;
    height: 20px;
    border-radius: 2px 2px 0 0;
    background-color: #79aec8;
}
.content-gallery-images .image-object .image-content {
    padding: 0px 3px 3px 3px;
}
.content-gallery-images .image-object .image-content-link {
    width: 100%;
    height: 114px;
    line-height: 114px;
}
.content-gallery-images .image-object .image-content img.preview {
    max-width: 141px;
    max-height: 114px;
}
.content-gallery-images .images-container .placeholder {
    float: left;
    border: 1px dotted black;
    width: 147px;
    height: 141px;
    margin: 5px;
}
.content-gallery-images .images-container .add-new-image {
    display: block;
    background-image: url('../img/add-image.png');
    cursor: pointer;
}
.content-gallery-images .images-container .add-new-image:hover {
    background-position: 0 -141px;
}
.content-gallery-images .images-to-delete-container h2 {
    background-color: #ba2121;
    margin: 20px 0 5px 0;
}
.content-gallery-images .images-to-delete-container .image-object .image-header {
    background-color: #ba2121;
}
.content-gallery-images #content-gallery-images-to-delete {
    overflow: hidden;
    border: 1px dotted #000;
    min-height: 151px;
}
.content-gallery-images #content-gallery-images-to-delete div {
    opacity: 0.7;
}

.content-gallery-preview-container .inline-admin-preview-zoom {
    top: -26px;
    left: 118px;
}
