#content-gallery .content-gallery-image-container {
    text-align: center;
    margin-top: 5px;
}
#content-gallery .content-gallery-image-container img {
    vertical-align: middle;
}

.inline-box {
    display: inline-block;
}
