.gallery-inline-formset .images-container {
    overflow: hidden;
    margin: 0;
}
.gallery-inline-formset .image-object {
    float: left;
    margin: 5px;
    width: 147px;
    height: 141px;
    border: 1px solid #bbb;
    border-radius: 3px;
}
.gallery-inline-formset .image-object .image-header {
    margin: 2px;
    height: 20px;
    border-radius: 2px 2px 0 0;
    background-color: #79aec8;
}
.gallery-inline-formset .image-object .image-content {
    text-align: center;
    height: 114px;
    padding: 0px 3px 3px 3px;
    line-height: 114px;
}
.gallery-inline-formset .image-object .image-content img {
    vertical-align: middle;
    max-width: 141px;
    max-height: 114px;
}
.gallery-inline-formset .images-container .placeholder {
    float: left;
    border: 1px dotted black;
    width: 147px;
    height: 141px;
    margin: 5px;
}
.gallery-inline-formset .images-container .add-new-image {
    display: block;
    background-image: url('../images/add_image.png');
    cursor: pointer;
}
.gallery-inline-formset .images-container .add-new-image:hover {
    background-image: url('../images/add_image_hover.png');
}
.gallery-inline-formset .images-to-delete-container h2 {
    background-color: #ba2121;
    margin: 20px 0 5px 0;
}
.gallery-inline-formset .images-to-delete-container .image-object .image-header {
    background-color: #ba2121;
}
.gallery-inline-formset #gallery-images-to-delete {
    overflow: hidden;
    border: 1px dotted #000;
    min-height: 151px;
}
.gallery-inline-formset #gallery-images-to-delete div {
    opacity: 0.7;
}

#content-gallery-admin-preview {
    display: none;
}
#content-gallery-admin-preview #content-gallery-black-box {
    background-color: #000;
    width: 100%;
    opacity: 0.5;
    z-index: 50;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 1000px;
}
#content-gallery-admin-preview  #content-gallery-view {
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    z-index: 60;
    background-color: #fff;
    position: fixed;
}
#content-gallery-admin-preview .content-gallery-top-panel {
    height: 20px;
}
#content-gallery-admin-preview .content-gallery-widget {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
}
#content-gallery-admin-preview .content-gallery-widget:hover {
    opacity: 1;
}
#content-gallery-admin-preview .content-gallery-close-button {
    width: 20px;
    height: 20px;
    float: right;
    background-image: url('../../images/gallery/close_button.png');
}
#content-gallery-admin-preview .content-gallery-image-container {
    text-align: center;
    margin-top: 5px;
}
#content-gallery-admin-preview .content-gallery-image-container img {
    vertical-align: middle;
}
