{% load static content_gallery %}

<link href="{% static 'content_gallery/css/content-gallery.css'|obfuscate %}" type="text/css" rel="StyleSheet">
<link href="{% static 'content_gallery/css/content-gallery-view.css'|obfuscate %}" type="text/css" rel="StyleSheet">
<div id="content-gallery" data-url-pattern="{% gallery_data_url_pattern %}">
  <div id="content-gallery-black-box" class="content-gallery-close"></div>
  <div id='content-gallery-view'>
    <div class="content-gallery-top-panel"><div class="content-gallery-widget content-gallery-close content-gallery-close-button"></div></div>
    <div id="content-gallery-image-view">
      <div class="content-gallery-prev-widget content-gallery-prev-image content-gallery-prev-button content-gallery-widget content-gallery-hidden"></div>
      <div class="content-gallery-next-image content-gallery-next-button">
        <div class="content-gallery-next-widget content-gallery-widget content-gallery-hidden"></div>
        <div class="content-gallery-image-container content-gallery-centered-image">
          <img src="{% static 'content_gallery/img/0.gif' %}" alt="">
          <div id="content-gallery-loading-splash"><img src="{% static 'content_gallery/img/loading.gif' %}" alt="Loading"></div>
        </div>
      </div>
    </div>
    <div id="content-gallery-thumbnails-view">
      <div class="content-gallery-scroll-left content-gallery-widget content-gallery-inactive"></div>
      <div class="content-gallery-scroll-right content-gallery-widget content-gallery-inactive"></div>
      <div class="content-gallery-thumbnails-container">
        <ul></ul>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'content_gallery/js/content-gallery.js'|obfuscate %}"></script>
<script type="text/javascript" src="{% static 'content_gallery/js/content-gallery-sync.js'|obfuscate %}"></script>
<script type="text/javascript" src="{% static 'content_gallery/js/content-gallery-view.js'|obfuscate %}"></script>
<script type="text/javascript" src="{% static 'content_gallery/js/content-gallery-site-view.js'|obfuscate %}"></script>
