.images-container {
    overflow: hidden;
    margin: 0;
}
.image-object {
    float: left;
    margin: 5px;
    width: 147px;
    height: 141px;
    border: 1px solid #bbb;
    border-radius: 3px;
}
.image-object .image-header {
    margin: 2px;
    height: 20px;
    border-radius: 2px 2px 0 0;
    background-color: #79aec8;
}
.image-object .image-content {
    text-align: center;
    height: 114px;
    padding: 0px 3px 3px 3px;
    line-height: 114px;
}
.image-object .image-content img {
    vertical-align: middle;
    max-width: 141px;
    max-height: 114px;
}
.images-container .placeholder {
    float: left;
    border: 1px dotted black;
    width: 147px;
    height: 141px;
    margin: 5px;
}
.images-container .add-new-image {
    display: block;
    background-image: url('../images/add_image.png');
    cursor: pointer;
}
.images-container .add-new-image:hover {
    background-image: url('../images/add_image_hover.png');
}
.images-to-delete-container h2 {
    background-color: #ba2121;
    margin: 20px 0 5px 0;
}
.images-to-delete-container .image-object .image-header {
    background-color: #ba2121;
}
#images-to-delete {
    overflow: hidden;
    border: 1px dotted #000;
    min-height: 151px;
}
#images-to-delete div {
    opacity: 0.7;
}
